{% extends 'base.html' %}
{% block title %}Mi Inventario{% endblock %}

{% block content %}
<h1>Mi Inventario</h1>
<table>
  <thead>
    <tr>
      <th>Código</th><th>Nombre</th><th>Grupo</th><th>SubGrupo</th><th>Stock</th><th>Historial</th>
    </tr>
  </thead>
  <tbody>
    {% for p in productos %}
    <tr>
      <td>{{ p.codigo }}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.grupo.nombre }}</td>
      <td>{{ p.subgrupo.nombre }}</td>
      <td>{{ p.stock }}</td>
      <td>
        <a href="{% url 'productos:movimientos_stock' p.pk %}">
          Ver
        </a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No tienes productos asignados.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
